
<section class="gallery" id="gallery">

    <h1 class="heading"> our food <span> gallery </span> </h1>

    <div class="box-container">

        <div class="box">
            <img src="~/images/g-1.jpg" alt="" >
             <div class="content">
                <h3>burgers</h3>

                    <a asp-action="Order" asp-controller="Order" class="btn">order now</a>
                    <a asp-action="Index" asp-controller="Cart" class="btn">Add to cart</a>
            </div>
        </div>
        <div class="box">
            <img src="~/images/g-2.jpg" alt="">
            <div class="content">
            <h3>sandwich</h3>

            <a asp-action="Order" asp-controller="Order" class="btn">order now</a>
            <a asp-action="Index" asp-controller="Cart" class="btn">Add to cart</a>
        </div>
        </div>
        <div class="box">
            <img src="~/images/g-3.jpg" alt="">
        <div class="content">
            <h3>sandwich chawarma</h3>

            <a asp-action="Order" asp-controller="Order" class="btn">order now</a>
            <a asp-action="Index" asp-controller="Cart" class="btn">Add to cart</a>
        </div>
        </div>
        <div class="box">
            <img src="~/images/g-4.jpg" alt="">
        <div class="content">
            <h3>cup cakes</h3>

            <a asp-action="Order" asp-controller="Order" class="btn">order now</a>
            <a asp-action="Index" asp-controller="Cart" class="btn">Add to cart</a>
        </div>
        </div>
        <div class="box">
            <img src="~/images/g-5.jpg" alt="">
        <div class="content">
            <h3>Sweets</h3>

            <a asp-action="Order" asp-controller="Order" class="btn">order now</a>
            <a asp-action="Index" asp-controller="Cart" class="btn">Add to cart</a>
        </div>
        </div>
        <div class="box">
            <img src="~/images/g-6.jpg" alt="">
        <div class="content">
            <h3>chicken</h3>

            <a asp-action="Order" asp-controller="Order" class="btn">order now</a>
            <a asp-action="Index" asp-controller="Cart" class="btn">Add to cart</a>
        </div>
        </div>
        <div class="box">
            <img src="~/images/g-7.jpg" alt="">
        <div class="content">
            <h3>breakfast</h3>

            <a asp-action="Order" asp-controller="Order" class="btn">order now</a>
            <a asp-action="Index" asp-controller="Cart" class="btn">Add to cart</a>
        </div>
        </div>
        <div class="box">
            <img src="~/images/g-8.jpg" alt="">
            <div class="content">
                <h3>chocolat</h3>
       
                <a asp-action="Order" asp-controller="Order" class="btn">order now</a>
                <a asp-action="Index" asp-controller="Cart" class="btn">Add to cart</a>
            </div>
        </div>
        <div class="box">
            <img src="~/images/g-9.jpg" alt="">
        <div class="content">
            <h3>cakes</h3>
                      <a asp-action="Order" asp-controller="Order" class="btn">order now</a>
             <a asp-action="Index" asp-controller="Cart" class="btn">Add to cart</a>
        </div>
        </div>

    </div>

</section>
