

<!-- home section starts  -->

<section class="home" id="home">

    <div class="content">
        <h3>food made with love</h3>
        <p>Tasty Burger is a modern fast food burger restaurant with old school sensibilities.</p>
        <a asp-action="Order" asp-controller="Order" class="btn">order now</a>
     
    </div>

    <div class="image">
        <img src="~/images/home-img.png" alt="">
    </div>

</section>

<!-- home section ends -->
<!-- speciality section starts  -->
<!--<section class="speciality" id="speciality">
    

    <h1 class="heading"> our <span>speciality</span> </h1>

    <div class="box-container">

        <div class="box">
            <img class="image" src="~/images/s-img-1.jpg" alt="">
            <div class="content">
                <img src="~/images/s-1.png" alt="">
                <h3>tasty burger</h3>
                <p>Tasty Burger is a modern fast food burger restaurant with old school sensibilities.<br /><br /><br /> </p>
            </div>

        </div>
        <div class="box">
            <img class="image" src="~/images/s-img-2.jpg" alt="">
            <div class="content">
                <img src="~/images/s-2.png" alt="">
                <h3>tasty pizza</h3>
                <p>Make perfect pizza at home with this classic tasty pizza recipe<br /><br /><br /><br /></p>

            </div>
        </div>
        <div class="box">
            <img class="image" src="~/images/s-img-3.jpg" alt="">
            <div class="content">
                <img src="~/images/s-3.png" alt="">
                <h3>cold ice-cream</h3>
                <p>Ice cream is a very cold sweet food which is made from frozen cream or a substance like cream and has a flavour such as vanilla, chocolate, or strawberry</p>
            </div>
        </div>
        <div class="box">
            <img class="image" src="~/images/s-img-4.jpg" alt="">
            <div class="content">
                <img src="~/images/s-4.png" alt="">
                <h3>cold drinks</h3>
                <p>soft drink, any of a class of nonalcoholic beverages, usually but not necessarily carbonated<br /><br /></p>
            </div>
        </div>
        <div class="box">
            <img class="image" src="~/images/s-img-5.jpg" alt="">
            <div class="content">
                <img src="~/images/s-5.png" alt="">
                <h3>tasty sweets</h3>
                <p>whether you have a sweet tooth or not, there's something about dessert that can put a smile on your face, no matter what.</p>
            </div>
        </div>
        <div class="box">
            <img class="image" src="~/images/s-img-6.jpg" alt="">
            <div class="content">
                <img src="~/images/s-6.png" alt="">
                <h3>healthy breakfast</h3>
                <p> try to choose whole, unprocessed foods from each of the five food groups: fruits, vegetables, grains, protein foods, and dairy</p>
            </div>
        </div>

    </div>

</section>-->

<section class="gallery" id="speciality">

    <h1 class="heading"> our <span>speciality</span> </h1>

    <div class="box-container">

        <div class="box">
            <img src="~/images/s-img-1.jpg" alt="">
            <div class="content">
                <h3>tasty food</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
                <a asp-action="burger" asp-controller="burger" class="btn">show items</a>
            </div>
        </div>
        <div class="box">
            <img src="~/images/s-img-2.jpg" alt="">
            <div class="content">
                <h3>tasty pizza</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda inventor</p>
                <a asp-action="pizza" asp-controller="pizza" class="btn">show items</a>
            </div>
        </div>
        <div class="box">
            <img src="~/images/s-img-3.jpg" alt="">
            <div class="content">
                
                <h3>cold ice-cream</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda inventore n.</p>
                <a asp-action="glace" asp-controller="glace" class="btn">show items</a>
            </div>
        </div>
        <div class="box">
            <img class="image" src="~/images/s-img-4.jpg" alt="">
            <div class="content">
                
                <h3>cold drinks</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda i.</p>
                <a asp-action="drink" asp-controller="drink" class="btn">show items</a>
            </div>
        </div>
        <div class="box">
            <img class="image" src="~/images/s-img-5.jpg" alt="">
            <div class="content">
               
                <h3>choclate</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda inventore .</p>
                <a asp-action="choclate" asp-controller="choclate" class="btn">show items</a>
            </div>
        </div>
        <div class="box">
            <img class="image" src="~/images/sweeties.jpg" alt="">
            <div class="content">
                
                <h3>cakes</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <a asp-action="categorie" asp-controller="categorie" class="btn">show items</a>
            </div>
        </div>
        <div class="box">
            <img class="image" src="~/images/breakall.jfif" alt="">
            <div class="content">

                <h3>healty breakfast</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <a asp-action="healty" asp-controller="healty" class="btn">show items</a>
            </div>
        </div>
        <div class="box">
            <img class="image" src="~/images/saladenicois.webp" alt="">
            <div class="content">

                <h3>salades</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <a asp-action="salade" asp-controller="salade" class="btn">show items</a>
            </div>

        </div>
    </div>

</section>




<!-- speciality section ends -->
<!-- popular section starts  -->

<section class="popular" id="popular">

    <h1 class="heading"> most <span>popular</span> foods </h1>

    <div class="box-container">

        <div class="box">
            <span class="price"> 15$ </span>
            <img src="~/images/p-1.jpg" alt="">
            <h3>tasty burger</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
            <a asp-action="Order" asp-controller="Order" class="btn">order now</a>
            <a asp-action="Index" asp-controller="Cart" class="btn">Add to cart</a>
        </div>
        <div class="box">
            <span class="price">  20$ </span>
            <img src="~/images/p-2.jpg" alt="">
            <h3>tasty cakes</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
            <a asp-action="Order" asp-controller="Order" class="btn">order now</a>
            <a asp-action="Index" asp-controller="Cart" class="btn">Add to cart</a>
        </div>
        <div class="box">
            <span class="price"> 30$ </span>
            <img src="~/images/p-3.jpg" alt="">
            <h3>tasty sweets</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
            <a asp-action="Order" asp-controller="Order" class="btn">order now</a>
 <a asp-action="Index" asp-controller="Cart" class="btn">Add to cart</a>
        </div>
        <div class="box">
            <span class="price"> 25$ </span>
            <img src="~/images/p-4.jpg" alt="">
            <h3>tasty cupcakes</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
            <a asp-action="Order" asp-controller="Order" class="btn">order now</a>
            <a asp-action="Index" asp-controller="Cart" class="btn">Add to cart</a>
        </div>
        <div class="box">
            <span class="price"> 40$ </span>
            <img src="~/images/p-5.jpg" alt="">
            <h3>cold drinks</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
            <a asp-action="Order" asp-controller="Order" class="btn">order now</a>
            <a asp-action="Index" asp-controller="Cart" class="btn">Add to cart</a>
        </div>
        <div class="box">
            <span class="price"> 35$ </span>
            <img src="~/images/p-6.jpg" alt="">
            <h3>cold ice-cream</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
            <a asp-action="Order" asp-controller="Order" class="btn">order now</a>
            <a asp-action="Index" asp-controller="Cart" class="btn">Add to cart</a>
        </div>

    </div>

</section>

<!-- popular section ends -->
<!-- steps section starts  -->

<div class="step-container">

    <h1 class="heading">how it <span>works</span></h1>

    <section class="steps">

        <div class="box">
            <img src="~/images/step-1.jpg" alt="">
            <h3>choose your favorite food</h3>
        </div>
        <div class="box">
            <img src="~/images/step-2.jpg" alt="">
            <h3>free and fast delivery</h3>
        </div>
        <div class="box">
            <img src="~/images/step-3.jpg" alt="">
            <h3>easy payments methods</h3>
        </div>
        <div class="box">
            <img src="~/images/step-4.jpg" alt="">
            <h3>and finally, enjoy your food</h3>
        </div>

    </section>

</div>

<!-- steps section ends -->
<!-- gallery section starts  -->

<section class="gallery" id="gallery">

    <h1 class="heading"> our food <span> gallery </span> </h1>

    <div class="box-container">

        <div class="box">
            <img src="~/images/g-1.jpg" alt="">
            <div class="content">
                <h3>burgers</h3>
               
                    <a asp-action="Order" asp-controller="Order" class="btn">order now</a>
                    <a asp-action="Index" asp-controller="Cart" class="btn">Add to cart</a>
            </div>
        </div>
        <div class="box">
            <img src="~/images/g-2.jpg" alt="">
            <div class="content">
                <h3>sandwich</h3>
               
                <a asp-action="Order" asp-controller="Order" class="btn">order now</a>
                <a asp-action="Index" asp-controller="Cart" class="btn">Add to cart</a>
            </div>
        </div>
        <div class="box">
            <img src="~/images/g-3.jpg" alt="">
            <div class="content">
                <h3>sandwich chawarma</h3>
                
                <a asp-action="Order" asp-controller="Order" class="btn">order now</a>
                 <a asp-action="Index" asp-controller="Cart" class="btn">Add to cart</a>
            </div>
        </div>
        <div class="box">
            <img src="~/images/g-4.jpg" alt="">
            <div class="content">
                <h3>cup cakes</h3>
                
                <a asp-action="Order" asp-controller="Order" class="btn">order now</a>
                 <a asp-action="Index" asp-controller="Cart" class="btn">Add to cart</a>
            </div>
        </div>
        <div class="box">
            <img src="~/images/g-5.jpg" alt="">
            <div class="content">
                <h3>Sweets</h3>
              
                <a asp-action="Order" asp-controller="Order" class="btn">order now</a>
                 <a asp-action="Index" asp-controller="Cart" class="btn">Add to cart</a>
            </div>
        </div>
        <div class="box">
            <img src="~/images/g-6.jpg" alt="">
            <div class="content">
                <h3>chicken</h3>
              
                <a asp-action="Order" asp-controller="Order" class="btn">order now</a>
                <a asp-action="Index" asp-controller="Cart" class="btn">Add to cart</a>
            </div>
        </div>
        <div class="box">
            <img src="~/images/g-7.jpg" alt="">
            <div class="content">
                <h3>breakfast</h3>
                
                <a asp-action="Order" asp-controller="Order" class="btn">order now</a>
                 <a asp-action="Index" asp-controller="Cart" class="btn">Add to cart</a>
            </div>
        </div>
        <div class="box">
            <img src="~/images/g-8.jpg" alt="">
            <div class="content">
                <h3>chocolat</h3>
       
                <a asp-action="Order" asp-controller="Order" class="btn">order now</a>
                <a asp-action="Index" asp-controller="Cart" class="btn">Add to cart</a>
            </div>
        </div>
        <div class="box">
            <img src="~/images/g-9.jpg" alt="">
            <div class="content">
                <h3>cakes</h3>
            
                <a asp-action="Order" asp-controller="Order" class="btn">order now</a>
                 <a asp-action="Index" asp-controller="Cart" class="btn">Add to cart</a>
            </div>
        </div>

    </div>

</section>

<!-- gallery section ends -->

