<section class="glace" id="glace">
    <h1 class="heading"> Cathegory <span>salade </span>  </h1>

    <div class="box-container">

        <div class="box">
            <span style="font-size: 40px;"> delecious salade</span>


            <img class="glace" src="~/images/saladeall.jfif" width="800px" height="800" />
            <span style="front-size:150px">         salade made with love in various ways make you feel instance   </span>



        </div>
        <div class="container2">
            <h1> various suggestions : </h1>


        </div>
        <div class="box">
            <img src="~/images/saladecesar.jfif" width="140" height="140"> <span style="font-size: 20px;"> salade césar <class ="price"> 99dh </span>



        </div>

    </div>
    <div class="box">

        <img src="~/images/Salade-Nicoise.webp" alt="" width="140" height="140"> <span style="font-size: 20px;">salade nicoise <class ="price"> 120dh </span>


    </div>
    <div class="box">

        <img src="~/images/saladegrec.jpg" alt="" width="140" height="140">  <span style="font-size: 20px;">salade grecque <class ="price"> 150dh </span>


    </div>
    <div class="box">

        <img src="~/images/saladepecheur.jfif" alt="" width="140" height="140">  <span style="font-size: 20px;"> salade pécheur <class ="price"> 100dh </span>


    </div>

    

    <a asp-action="Order" asp-controller="Order" class="btn">order now</a>
    <a asp-action="Speciality" asp-controller="Speciality" class="btn">Redirect to Speciality</a>
  
   

</section>