<section class="glace" id="glace">
    <h1 class="heading"> Cathegory <span>Glaces </span>  </h1>

    <div class="box-container">

        <div class="box">
            <span style="font-size: 40px;"> delecious Glace </span>


            <img class="glace" src="~/images/fadoua.jpg" width="800px" height="800" />
            <span style="front-size:150px">           glace made with love in various ways make you feel instance   </span>



        </div>
        <div class="container2">
            <h1> various suggestions : </h1>


        </div>
        <div class="box">
            <img src="~/images/glacevanille.jpeg" width="140" height="140"> <span style="font-size: 20px;"> vanillia glace <class ="price"> 80dh </span>



        </div>

    </div>
    <div class="box">

        <img src="~/images/glacechocolat (1).jpeg" alt="" width="140" height="140"> <span style="font-size: 20px;">choclate glace <class ="price"> 80dh </span>


    </div>
    <div class="box">

        <img src="~/images/glacefraise.jpg" alt="" width="140" height="140">  <span style="font-size: 20px;">strawberry glace   <class ="price"> 80dh </span>


    </div>
    <div class="box">

        <img src="~/images/glacecaramel.jfif" alt="" width="140" height="140">  <span style="font-size: 20px;"> caramel glace <class ="price"> 80dh </span>


    </div>

    <h1>                                 </h1>

    <a asp-action="Order" asp-controller="Order" class="btn">order now</a>
    <a asp-action="Speciality" asp-controller="Speciality" class="btn">Redirect to Speciality</a>
   
    </div>

</section>


