<section class="glace" id="glace">
    <h1 class="heading"> Special <span>Juices </span>  </h1>

    <div class="box-container">

        <div class="box">
            <span style="font-size: 40px;"> tasty juice </span>


            <img class="drink" src="~/images/all.jpg"width="800px" height="800" />
            <span style="front-size:150px">           natural juice made with love in various ways for living the instance   </span>



        </div>
        <div class="container2">
            <h1> various suggestions : </h1>


        </div>
        <div class="box">
            <img src="~/images/orange.jpg"140" height="140"> <span style="font-size: 20px;"> orange juice <class ="price"> 80dh </span>



        </div>

    </div>
    <div class="box">

        <img src="~/images/avocat.jpg" alt="" width="140" height="140"> <span style="font-size: 20px;">avocado juice <class ="price"> 80dh </span>


    </div>
    <div class="box">

        <img src="~/images/fraise.jpg" alt="" width="140" height="140">  <span style="font-size: 20px;">strawberry juice   <class ="price"> 80dh </span>


    </div>
    <div class="box">

        <img src="~/images/mojito.jpg" alt="" width="140" height="140">  <span style="font-size: 20px;"> mojito drink <class ="price"> 80dh </span>


    </div>


    <a asp-action="Order" asp-controller="Order" class="btn">order now</a>
    <a asp-action="Speciality" asp-controller="Speciality" class="btn">Redirect to Speciality</a>
    
    </div>

</section>


