<section class="categorie" id="categorie">
    <h1 class="heading"> Cathegory <span>special burgers</span>  </h1>

    <div class="box-container">

        <div class="box">
            <span style="font-size: 40px;">luxieus choclate </span>


            <img class=" dreamy choclate" src="~/images/téléchargement (1).jpeg" width="800px" height="800" />
            <span style="front-size:150px">          lovely choclate  make you feel defferently  </span>



        </div>
        <div class="container2">
            <h1> various suggestions : </h1>


        </div>
        <div class="box">
            <img src="~/images/images (2).jpeg" width="140" height="140"> <span style="font-size: 20px;">  white choclate<class ="price"> 80dh </span>



        </div>

    </div>
    <div class="box">

        <img src="~/images/images.jpeg" alt="" width="140" height="140"> <span style="font-size: 20px;">black choclate <class ="price"> 80dh </span>


    </div>
    <div class="box">

        <img src="~/images/téléchargement (4).jpeg" alt="" width="140" height="140">  <span style="font-size: 20px;">golden choclate <class ="price"> 80dh </span>


    </div>
    <div class="box">

        <img src="~/images/téléchargement (2).jpeg" alt="" width="140" height="140">  <span style="font-size: 20px;"> caramelly choclate <class ="price"> 80dh </span>


    </div>

    

    <a asp-action="Order" asp-controller="Order" class="btn">order now</a>
    <a asp-action="Speciality" asp-controller="Speciality" class="btn">Redirect to Speciality</a>
    
   

</section>


