<section class="categorie" id="categorie">
    <h1 class="heading"> Cathegory <span>special breakfast</span>  </h1>

    <div class="box-container">

        <div class="box">
            <span style="font-size: 40px;">delecious breakfast </span>


            <img class=" dreamy breakfast" src="~/images/breakall.jfif" width="800px" height="800" />
            <span style="front-size:150px">          brakfast made with love in various ways make your day special  </span>



        </div>
        <div class="container2">
            <h1> various suggestions : </h1>


        </div>
        <div class="box">
            <img src="~/images/italaianbreakfast.jfif" width="140" height="140"> <span style="font-size: 20px;">  italiano  breakfast <class ="price"> 80dh </span>



        </div>

    </div>
    <div class="box">

        <img src="~/images/morrocanbreak.jpg" alt="" width="140" height="140"> <span style="font-size: 20px;">Morrocan breakfast<class ="price"> 80dh </span>


    </div>
    <div class="box">

        <img src="~/images/turkishbreakfast.jfif" alt="" width="140" height="140">  <span style="font-size: 20px;">turkish breakfast<class ="price"> 80dh </span>


    </div>
    <div class="box">

        <img src="~/images/englishbreak.jfif" alt="" width="140" height="140">  <span style="font-size: 20px;"> English breakfast <class ="price"> 80dh </span>


    </div>

    <h1>                                 </h1>

    <a asp-action="Order" asp-controller="Order" class="btn">order now</a>
    <a asp-action="Speciality" asp-controller="Speciality" class="btn">Redirect to Speciality</a>
   
    </div>

</section>

