
<section class="gallery" id="speciality">

    <h1 class="heading"> our <span>speciality</span> </h1>

    <div class="box-container">

        <div class="box">
            <img src="~/images/s-img-1.jpg" alt="">
            <div class="content">
                <h3>tasty food</h3>
                <p>Tasty Burger is a modern fast food burger restaurant with old school sensibilities.</p>
                <a asp-action="burger" asp-controller="burger" class="btn">show items</a>
            </div>
        </div>
        <div class="box">
            <img src="~/images/s-img-2.jpg" alt="">
            <div class="content">
                <h3>tasty pizza</h3>
                <p>Make perfect pizza at home with this classic tasty pizza recipe</p>
                <a asp-action="pizza" asp-controller="pizza" class="btn">show items</a>
            </div>
        </div>
        <div class="box">
            <img src="~/images/s-img-3.jpg" alt="">
            <div class="content">
                
                <h3>cold ice-cream</h3>
                <p>Ice cream is a very cold sweet food which is made from frozen cream </p>
                <a asp-action="glace" asp-controller="glace" class="btn">show items</a>
            </div>
        </div>
        <div class="box">
            <img class="image" src="~/images/s-img-4.jpg" alt="">
            <div class="content">
                
                <h3>cold drinks</h3>
                <p>soft drink, any of a class of nonalcoholic beverages, usually but not necessarily carbonated</p>
                <a asp-action="drink" asp-controller="drink" class="btn">show items</a>
            </div>
        </div>
        <div class="box">
            <img class="image" src="~/images/s-img-5.jpg" alt="">
            <div class="content">
               
                <h3>choclate</h3>
                <p>whether you have a sweet tooth or not, there's something about dessert </p>
                <a asp-action="choclate" asp-controller="choclate" class="btn">show items</a>
            </div>
        </div>
        <div class="box">
            <img class="image" src="~/images/sweeties.jpg" alt="">
            <div class="content">
                
                <h3>cakes</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <a asp-action="categorie" asp-controller="categorie" class="btn">show items</a>
            </div>
        </div>
        <div class="box">
            <img class="image" src="~/images/breakall.jfif" alt="">
            <div class="content">

                <h3>healty breakfast</h3>
                <p> try to choose whole, unprocessed foods from each of the five food groups: fruits, vegetables</p>
                <a asp-action="healty" asp-controller="healty" class="btn">show items</a>
            </div>
        </div>
        <div class="box">
            <img class="image" src="~/images/saladenicois.webp" alt="">
            <div class="content">

                <h3>salades</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <a asp-action="salade" asp-controller="salade" class="btn">show items</a>
            </div>

            




        </div>
    </div>

</section>
