<section class="categorie" id="categorie">
    <h1 class="heading"> Cathegory <span>italiano pizza </span>  </h1>

    <div class="box-container">

        <div class="box">
            <span style="font-size: 40px;">delecious pizza </span>


            <img class="choklate cake" src="~/images/pizz.jpg" width="800px" height="800" />
            <span style="front-size:150px">           pizza made with love in various ways make your day special  </span>



        </div>
        <div class="container2">
            <h1> various suggestions : </h1>


        </div>
        <div class="box">
            <img src="~/images/fruitsmere.jpg" width="140" height="140"> <span style="font-size: 20px;"> sea fruits <class ="price"> 80dh </span>



        </div>

    </div>
    <div class="box">

        <img src="~/images/chiken.jpg" alt="" width="140" height="140"> <span style="font-size: 20px;">pizza chicken <class ="price"> 80dh </span>


    </div>
    <div class="box">

        <img src="~/images/mix.jpg" alt="" width="140" height="140">  <span style="font-size: 20px;">mixed pizza  <class ="price"> 80dh </span>


    </div>
    <div class="box">

        <img src="~/images/thon.jpg" alt="" width="140" height="140">  <span style="font-size: 20px;"> thon pizza <class ="price"> 80dh </span>


    </div>

   

    <a asp-action="Order" asp-controller="Order" class="btn">order now</a>
    <a asp-action="Speciality" asp-controller="Speciality" class="btn">Redirect to Speciality</a>
   
   

</section>

