<section class="categorie" id="categorie">
    <h1 class="heading"> Cathegory <span>special burgers</span>  </h1>

    <div class="box-container">

        <div class="box">
            <span style="font-size: 40px;">delecious burgers </span>


            <img class=" dreamy burgers" src="~/images/br.jpg" width="800px" height="800" />
            <span style="front-size:150px">          burgers made with love in various ways make your day special  </span>



        </div>
        <div class="container2">
            <h1> various suggestions : </h1>


        </div>
        <div class="box">
            <img src="~/images/chickenburger.jfif" width="140" height="140"> <span style="font-size: 20px;">  chicken burger <class ="price"> 80dh </span>



        </div>

    </div>
   
    <div class="box">

        <img src="~/images/veggieburger.jfif" alt="" width="140" height="140">  <span style="font-size: 20px;">veggie burger <class ="price"> 80dh </span>


    </div>
    <div class="box">

        <img src="~/images/hamburger.jfif" alt="" width="140" height="140">  <span style="font-size: 20px;"> humberger <class ="price"> 80dh </span>


    </div>

  

    <a asp-action="Order" asp-controller="Order" class="btn">order now</a>
    <a asp-action="Speciality" asp-controller="Speciality" class="btn">Redirect to Speciality</a>
  
  

</section>

