<section class="glace" id="glace">
    <h1 class="heading"> Cathegory <span>breakfast </span>  </h1>

    <div class="box-container">

        <div class="box">
            <span style="font-size: 40px;"> delecious breakfast </span>


            <img class="glace" src="~/images/breakall.jfif" width="800px" height="800" />
            <span style="font-size:150px">           breakfast made with love in various ways make you feel instance   </span>



        </div>
        <div class="container2">
            <h1> various suggestions : </h1>


        </div>
        <div class="box">
            <img src="~/images/englishbreak.jfif" width="140" height="140"> <span style="font-size: 20px;"> english breakfast <class ="price"> 99dh </span>



        </div>

    </div>
    <div class="box">

        <img src="~/images/turkishbreakfast (1).jfif" alt="" width="140" height="140"> <span style="font-size: 20px;">turkish breakfast <class ="price"> 120dh </span>


    </div>
    <div class="box">

        <img src="~/images/morrocanbreak.jpg" alt="" width="140" height="140">  <span style="font-size: 20px;">moroccan breakfast  <class ="price"> 150dh </span>


    </div>
    <div class="box">

        <img src="~/images/italaianbreakfast.jfif" alt="" width="140" height="140">  <span style="font-size: 20px;"> italiano breakfast <class ="price"> 100dh </span>


    </div>

  

    <a asp-action="Order" asp-controller="Order" class="btn">order now</a>
    <a asp-action="Speciality" asp-controller="Speciality" class="btn">Redirect to Speciality</a>
   
    

</section>
