<section class="Order" id="Order">
    <h1 class="heading"> Cathegory <span>Tasty Cakes </span>  </h1>

    <div class="box-container">

        <div class="box">
            <span style="font-size: 40px;">lovely cakes </span>


            <img class="choklate cake" src="~/images/fondcake.jpg" width="800px" height="800" />
            <span style="front-size:150px">           cake made with love in arome various make your day special  </span> 
            

            
        </div>
        <div class="container2">
            <h1> les aromes presentes : </h1>

           
        </div>
        <div class="box">
            <img src="~/images/choko.jpg" alt="" width="140" height="140"> <span style="font-size: 20px;">choclate cake <class="price"> 80dh </span>
            
            
               
            </div>
           
        </div>
        <div class="box">

        <img src="~/images/p-2.jpg" alt="" width="140" height="140"> <span style="font-size: 20px;">lemon cake <class ="price"> 80dh </span>


    </div>
        <div class="box">

        <img src="~/images/caramel.jpg" alt="" width="140" height="140">  <span style="font-size: 20px;">caramel cake  <class ="price"> 80dh </span>
           
           
        </div>
    <div class="box">

        <img src="~/images/fraise.webp" alt="" width="140" height="140">  <span style="font-size: 20px;">strawberry cake <class ="price"> 80dh </span>


    </div>


    <a asp-action="Order" asp-controller="Order" class="btn">order now</a>
    <a asp-action="Speciality" asp-controller="Speciality" class="btn">Redirect to Speciality</a>
    
    

</section>
